@font-face {
	font-family: 'Montserrat';
	src: url('/frontend/src/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uh8wwh');
  src:  url('fonts/icomoon.eot?uh8wwh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uh8wwh') format('truetype'),
    url('fonts/icomoon.woff?uh8wwh') format('woff'),
    url('fonts/icomoon.svg?uh8wwh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="moon-"], [class*=" moon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-plus:before {
  content: "\e9b1";
}
.moon-shopping-list:before {
  content: "\e99d";
}
.moon-house-outline:before {
  content: "\e9ae";
}
.moon-pencil:before {
  content: "\e905";
}
.moon-image:before {
  content: "\e90d";
}
.moon-images:before {
  content: "\e90e";
}
.moon-stack:before {
  content: "\e92e";
}
.moon-bubbles:before {
  content: "\e96c";
}
.moon-user:before {
  content: "\e971";
}
.moon-users:before {
  content: "\e972";
}
.moon-user-plus:before {
  content: "\e973";
}
.moon-user-minus:before {
  content: "\e974";
}
.moon-user-check:before {
  content: "\e975";
}
.moon-equalizer:before {
  content: "\e992";
}
.moon-cogs:before {
  content: "\e995";
}
.moon-stats-dots:before {
  content: "\e99b";
}
.moon-back:before {
  content: "\e9a1";
}
.moon-bin:before {
  content: "\e9ac";
}
.moon-list2:before {
  content: "\e9bb";
}
.moon-contrast:before {
  content: "\e9d5";
}
.moon-warning:before {
  content: "\ea07";
}
.moon-notification:before {
  content: "\ea08";
}
.moon-checkmark:before {
  content: "\ea10";
}
.moon-home:before {
  content: "\e900";
}
.moon-bell:before {
  content: "\e951";
}